<!-- About-->
<section class="page-section bg-primary" id="sections">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">{{title}}</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">Start Bootstrap has everything you need to get your new website up and running in no time! Choose one of our open source, free to download, and easy to use themes! No strings attached!</p>
                <a class="btn btn-light btn-xl" href="#services">Get Started!</a>
            </div>
        </div>
    </div>
</section>

<!-- Provider List-->
<section class="page-section" id="providers">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">At Your Service</h2>
        <hr class="divider my-4" />
        <div class="table-responsive">
            <table class="table table-hover tablebordered">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Poition</th>
                        <th scope="col">Company</th>
                        <th scope="col">Actions</th>
                    </tr>

                </thead>
                    <tbody>
                        {{#each providers}}
                        <tr>
                            <td scope="row" >{{ id }}</td>
                            <td scope="row" >{{ firstname }}</td>
                            <td scope="row" >{{ lastname }}</td>
                            <td scope="row" >{{ position }}</td>
                            <td scope="row" >{{ company.company_name }}</td>
                            <td scope="row" >
                                <a href="/providers/details/{{ id }}" class="btn btn-info btn-sm">More Info...</a>
                                <a href="/providers/edit/{{ id }}" class="btn btn-secondary btn-sm">Edit</a>
                                <a href="/providers/delete/{{ id }}" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
            </table>
        </div>
    </div>
</section>